
body{
background-image: url('images/code_image');
}
.img-text{
    width:100%;
    height:320px;
    display:block;
    text-align: center;
    padding:41% 7%;
    background: #1a2e5af6;
    color: white;
    border-radius: 15px;

    font: 1em sans-serif;
  }
  
  .img-text h2{
    font-size: 25px;
    letter-spacing: 2px;
  }
    
  .img-text p{
    font-size: 15px;
  }
  
  .single-box{
    position: relative;
    margin-bottom: 30px;
  }

  .img-area{
    position: absolute;
    width: 100px;
    height: 100px;
    border: 6.5px solid #fff;
    overflow: hidden;
    top: 18px;
    left: 126px;
    border-radius: 40px;
  }
  
