@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: 'Poppins', sans-serif;
 
  box-sizing: border-box;
  text-transform: capitalize;

  transition: all .2s linear;
  scroll-behavior: smooth;
}
body{
    background-color: #e5e5e5;
}

/* html {

  overflow-x: hidden;
} */

.container{
    min-height: 0vh;
    display: flex;
    align-items: center;
    gap:9px;
    position:relative;
    overflow: hidden;
    margin-top: 50px;
   
}
/* .container .content{
    flex: 1 1 400px;
} */



.btn {
    display: inline-block;
    margin-top: 2px;
    background: #14213d;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: larger;
  }

  .topbtn {
    display: inline-block;
    padding-left:2px;
    background: #14213d;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: larger;
  }


  .container .content::before {
    content: '';
  
    left: 224px;
    height: 508px;
    width: 443px;
 
}


.container .content h1{
  color: #14213d;
  font-size: 37px;

}

.container .content p{
  color: #666;
  font-size: 17px;
  padding: 5px 0;
}



.img-move-1 {
    position:relative;
    overflow:hidden;
    max-width:920px;
    max-height: 900px;
    margin-left:400px;
    margin-bottom: 100px;
  }
  
  .img-move-2 {
   
    max-width:350px;
    max-height: 900px;
    margin-left:800px;
    margin-bottom: 100px;
  }
  

  @media (min-width:769px) {
    .img-move {
        position:absolute;
        width:56%;
      }
      .img-move-1 {
        left:0;
      }
   
      .content {
        right:0;  
        bottom:0;
      }
    }
    

